    <div class="advert-preload">
             {{#each }}
            <div class="advert-img-preload">
              <img class="js-img-slide" src={{this}} alt="{{}}">
            </div>
            {{/each}}
    </div>
    <div class=advert-svg>
        <svg class="" width="5px" height="5px">
            <use href="/"></use>
        </svg>   
        {{#each }}    
        <svg class="" width="5px" height="5px">
          <use href="/"></use>
        </svg>
         {{/each}}  
    </div>